<template>
	<section>
		<page-title :title="$t('title')" :subtitle="$t('subtitle')"/>

		<div class="container mt-3">
			<div class="card my-3">
				<div class="card-header bg-dark text-white">{{$t('basic-settings')}}</div>
				<div class="card-body">
					<div class="form-group row">
						<label class="col-md-3 col-form-label">{{$t('title-label')}}</label>
						<input class="col-md-9 form-control"
							v-model="pairs.title"
							:class="{'is-invalid':!$v(pairs.title,true,$consts.REGEX_TEXT_300)}"
							v-on:change="changed=true">
						<label class="col-md-3 col-form-label">{{$t('subject')}}</label>
						<input class="col-md-9 form-control"
							v-model="pairs.subject"
							:placeholder="$t('subject-hint')"
							:class="{'is-invalid':!$v(pairs.subject,true,$consts.REGEX_TEXT_300)}"
							v-on:change="changed=true">
						<label class="col-md-3 col-form-label">{{$t('description')}}</label>
						<textarea class="col-md-9 form-control"
							v-model="pairs.desc"
							:placeholder="$t('description-hint')"
							:class="{'is-invalid':!$v(pairs.desc,true,$consts.REGEX_TEXT_AREA_300)}"
							v-on:change="changed=true"/>
						<label class="col-md-3 col-form-label">{{$t('license')}}</label>
						<textarea class="col-md-9 form-control"
							v-model="pairs.license"
							:placeholder="$t('license-hint')"
							:class="{'is-invalid':!$v(pairs.desc,true,$consts.REGEX_TEXT_AREA_1000)}"
							v-on:change="changed=true"/>
						<label class="col-md-3 col-form-label">{{$t('ticket')}}</label>
						<input class="col-md-9 form-control"
							v-model="pairs.ticket"
							:placeholder="$t('ticket-hint')"
							:class="{'is-invalid':!$v(pairs.ticket,false,$consts.REGEX_TICKET)}"
							v-on:change="changed=true">
						<label class="col-md-3 col-form-label">{{$t('visibility')}}</label>
						<select class="col-md-9 col-md-3 form-control" v-model="pairs.visible" v-on:change="changed=true">
							<option value='true'>{{$t('public')}}</option>
							<option value='false'>{{$t('private')}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-5">
			<div v-for="card,i in pairs.cards" class="card my-3">
				<div class="card-header bg-dark text-white">
					{{$t('card-pair',{num:i+1})}}
					<span class="float-right">
						<tooltip-icon :tip="$t('delete-pair')" src="~Main/img/delete.svg" invert="true" v-on:click="deletePair(i)"/>
					</span>
				</div>
				<div class="card-body row">
					<div class="col-6 border-right">
						<label v-show="!card.image1 && !card.text1" class="col-form-label" >{{$t('image1-info')}}</label>
						<div v-show="card.image1" class="col-md-10 text-center" style="height:10em">
							<img :src="card.image1" style="height:9em">
						</div>
						<file-upload v-show="!card.text1 && !card.image1"
							class="my-1"
							force="image"
							:maxsize="config.imageMaxSize"
							v-on:upload="(image) => {uploadImage(image,card,1)}"/>
						<input v-show="!card.image1"
							class="form-control my-1"
							:class="{'is-invalid':!card.image1 && !$v(card.text1,true,$consts.REGEX_TEXT_300)}"
							v-model="card.text1"
							:placeholder="$t('alternative-text')"
							v-on:change="changed=true" />
						<button v-show="(card.image1 || card.text1) && !card.image2 && !card.text2"
							class="btn btn-sm btn-secondary my-2"
							v-on:click="card.image1='';card.text1='';changed=true;">{{$t('reset')}}</button>
					</div>
					<div v-if="card.image1 || card.text1" class="col-6">
						<label v-show="!card.image2 && !card.text2" class="col-form-label">{{$t('image2-info')}}</label>
						<div v-show="card.image2" class="col-md-10 text-center" style="height:10em">
							<img :src="card.image2" style="height:9em">
						</div>
						<file-upload v-show="!card.text2 && !card.image2"
							class="my-1"
							force="image"
							:maxsize="config.imageMaxSize"
							v-on:upload="(image) => {uploadImage(image,card,2)}"/>
						<input v-show="!card.image2"
							class="form-control my-1"
							v-model="card.text2"
							:placeholder="$t('alternative-text')"
							v-on:change="changed=true" />
						<button v-show="card.image2 || card.text2"
							class="btn btn-sm btn-secondary my-2"
							v-on:click="card.image2='';card.text2='';changed=true">{{$t('reset')}}</button>
					</div>
				</div>
			</div>
			<div v-if="pairs.cards.length==0" class="alert alert-primary mt-4 mb-1">
				{{$t('license-info')}}
			</div>
			<div class="text-right" >
				<tooltip-icon v-if="pairs.cards.length<config.maxNumCards" :tip="$t('hint-new')" size="big" src="~Main/img/plus-primary.svg" v-on:click="addNewPair()"/>
			</div>
		</div>

		<div class="container my-3">
			<div class="alert alert-warning mt-3" v-if="warnings">{{warnings}}</div>
			<button v-if="changed" class="mr-1 btn btn-primary" v-on:click="save()">{{$t('save-changes')}}</button>
			<button class="mr-1 btn btn-secondary" v-on:click="cancel()">{{$t('cancel')}}</button>
		</div>

		<!-- confirm abort-->
		<modal-confirm-cancel v-if="modalConfirmCancel" v-on:close="modalConfirmCancel=false" v-on:accept="$router.push({name:'pairs-index'})"/>

		<modal-info v-if="saving"><wait-icon/></modal-info>
	</section>
</template>

<script>
	import PageTitle from 'Main/components/PageTitle.vue';
	import WarningList from 'Main/components/WarningList.vue';
	import ModalInfo from 'Main/components/ModalInfo.vue';
	import ModalConfirmCancel from 'Main/components/ModalConfirmCancel.vue';
	import TooltipIcon from 'Main/components/TooltipIcon.vue';
	import WaitIcon from 'Main/components/WaitIcon.vue';
	import FileUpload from 'Main/components/FileUpload.vue';
	import config from '../config.js';
	import store from 'Main/js/store.js';
	import generator from 'Main/js/password-generator'

	export default {
		name: 'pairs-game',
		components: { PageTitle, WarningList, ModalConfirmCancel, ModalInfo, TooltipIcon, WaitIcon, FileUpload},
		data: function() {
			return {
				config:config,
				pairs:{ cards:[]},
				warnings:false,
				dialogWarnings:false,
				editPos:'',
				saving:false,
				modalConfirmCancel:false,
				changed:false
			}
		},
		mounted: function() {
			//edit existing set?
			var id=this.$route.params.id;
			if (id) {
				this.$axios.get('pairs/sets-author/'+id).then(response=> {
					if (response.data[0]) return this.warnings=response.data;
					if (!response.data.title) return this.$router.push({name:'pairs-index'});
					this.pairs=response.data;
				})
			}
			//create new set
			else {
				this.pairs={
					title:'',
					license:'',
					visible:false,
					owner:store.user.login,
					subject:'',
					desc:'',
					background:'',
					ticket:generator.generate({length:8, numbers: true}),
					cards:[]
				};
			}
		},
		methods: {
			addNewPair: function() {
				this.pairs.cards.push({
					image1:'',
					image2:'',
					text1:'',
					text2:''
				});
				this.changed=true;
			},
			deletePair: function(i) {
				this.pairs.cards.splice(i,1);
				this.changed=true;
			},
			uploadImage: function(image,card,num) {
				var reader=new FileReader();
				reader.readAsDataURL(image);
				reader.onload=e=>{
					if (num==1) card.image1=e.target.result;
					else card.image2=e.target.result;
					this.changed=true;
				};
			},
			save: function() {
				var validationErrors=document.getElementsByClassName('is-invalid').length;
				if (validationErrors>0) {
					this.warnings=this.$t('validation-errors',{num:validationErrors});
					return;
				}
				this.saving=true;
				//create new game
				if (!this.pairs._id) {
					this.$axios.post('pairs/sets-author',{pairs:this.pairs}).then(response=> {
						if (response.data[0]) this.warnings=response.data;
						else this.$router.push({name:'pairs-index'})
						this.saving=false;
					})
				}
				//update existing game
				else {
					this.$axios.put('pairs/sets-author/'+this.pairs._id,{pairs:this.pairs}).then(response=> {
						if (response.data[0]) this.warnings=response.data;
						else this.$router.push({name:'pairs-index'})
						this.saving=false;
					})
				}
			},
			cancel: function() {
				if (this.changed) this.modalConfirmCancel=true;
				else this.$router.push({name:'pairs-index'});
			}
		}
	}
</script>

<i18n>
{
	"de": {
		"title": "Online Pairs",
		"help": "Hilfe",
		"basic-settings": "Grundlegende Einstellungen",
		"title-label": "Titel",
		"subject": "Fach",
		"subject-hint": "Bitte geben Sie das zugehörige Fach ein",
		"description": "Beschreibung",
		"description-hint": "Bitte geben Sie eine aussagekrägtige Beschreibung an.",
		"ticket": "Ticket",
		"ticket-hint": "Ticket zum Zugriff für Schüler auf das Set",
		"visibility": "Sichtbarkeit",
		"public": "Öffentlich (jeder Besucher der Seite)",
		"private": "Privat (nur Sie)",
		"hint-new": "Neues Kartenpaar hinzufügen",
		"image1-info": "Laden Sie ein Bild hoch oder geben Sie einen Text ein.",
		"image2-info": "Falls die zugehörige Karte einen anderen Inhalt zeigen soll, laden Sie hier ein zweites Bild hoch, bzw. geben Sie einen zweiten Text ein.",
		"card-pair":"Kartenpaar {num}",
		"alternative-text":"Text anstelle eines Bildes",
		"reset":"Zurücksetzen",
		"delete-pair":"Kartenpaar löschen",
		"validation-errors": "Bitte korrigieren bzw. ergänzen Sie die Angaben in den rot markierten Eingabefeldern. Die Anzahl der Fehler beträgt {num}.",
		"cards-overview": "Übersicht Karten",
		"save-changes": "Änderungen speichern",
		"cancel": "Abbrechen",
		"license":"Lizenz",
		"license-hint":"Bitte geben Sie hier Hinweise zur Lizenz des Spiels an.",
		"license-info":"Bitte beachten Sie beim Hinzufügen von Bildern unbedingt das Urheberrecht! Laden Sie nur solche Bilder hoch, die Sie selbst erstellt haben oder deren Verwendung der Urheber explizit zustimmt. Beschreiben Sie außerdem im Beschreibungsfeld „Lizenz“, unter welchen Bedingungen Ihre Bilder genutzt werden dürfen, idealerweise geben Sie die Inhalte unter ein CC Lizenz frei.",
		"subtitle":"Bearbeiten Sie Ihr eigenes Pairs, indem Sie Bilder oder Texte für die Karten festlegen. Ein Kartenpaar kann den selben Inhalt besitzen – oder optional auch zwei verschiedene."
	},
	"en": {
		"title": "Online Pairs Game",
		"help": "Help",
		"basic-settings": "Basic settings",
		"title-label": "Title",
		"subject": "Subject",
		"subject-hint": "Please enter the subject or topic",
		"description": "Description",
		"description-hint": "Please enter a meaningful description.",
		"ticket": "Ticket",
		"ticket-hint": "Ticket for students to access the set",
		"visibility": "Visibility",
		"public": "Public (every visitor of this page)",
		"private": "Private (only you)",
		"hint-new": "Add new pair of cards",
		"image1-info": "Upload an image or enter some text.",
		"image2-info": "If the corresponding card should show a different content, upload a second image here or enter a second text.",
		"card-pair": "Card pair {num}",
		"alternative-text": "Text instead of an image",
		"reset": "Reset",
		"delete-pair": "Delete card pair",
		"validation-errors": "Please correct or complete the information in the input fields marked in red. The number of errors is {num}.",
		"cards-overview": "Overview cards",
		"save-changes": "Save changes",
		"cancel": "Cancel",
		"license": "License",
		"license-hint": "Please enter information about the license of the game here.",
		"license-info": "Please be sure to respect the copyright when adding images! Only upload images that you have created yourself or that the author has explicitly agreed to use. In addition, describe the conditions your images may be used in the description field \"License\" - ideally release your content under a CC license.",
		"subtitle": "Edit your own pairs game by specifying images or texts for the cards. A pair of cards can have the same content - or optionally two different ones."
	}
}
</i18n>
